		<div class="check-domain" ng-if='popup.shortUrl'>
			<!-- 添加 -->
			<div ng-if='!popup.isHave&&!popup.isErrHave'>
				<div class="popup-domain add" >
					<!-- <img width='16' height='16' ng-src="{{popup.favIconUrl}}"/> -->
					<i class="glyphicon glyphicon-eye-close"></i>
					<span ng-bind="popup.fullShortUrl"></span>
				</div>
				
				<select ng-model="popup.type" ng-options="t.type_name for t in type.data" class="form-control input-sm popup-type">
					<option value="" style="display:none">默认类型</option>
				</select>
                <p ng-bind="popup.msg"></p>
				<button type="button" class="btn btn-success btn-block" ng-click="popup.toAdd()">添加到规则列表</button>

			</div>
			
			<!-- 已添加 -->
			<div ng-if='popup.isHave&&!popup.isErrHave'>
				
				<div class="popup-domain added">
					<!-- <img width='16' height='16' ng-src="{{popup.favIconUrl}}"/> -->
					<i class="glyphicon glyphicon-eye-open"></i>
					<span ng-bind="popup.fullShortUrl"></span>
				</div>

				<p class="popup-added-tips"><span>本站已进入规则列表</span></p>

				<button type="button" class="btn btn-danger btn-block" ng-click="popup.remove()">从规则列表移除</button>

			</div>

            <div  class="popup-mode-set">
                <p>科学上网模式</p>
                <div class="btn-group btn-group-justified" role="group">
                    <div class="btn-group" role="group">
                        <button type="button" ng-click="popup.onDemand()" class="btn" ng-class="{true: 'btn-success', false: 'btn-default'}[popup.mode.demand]">按需</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" ng-click="popup.onAlways()" class="btn" ng-class="{true: 'btn-success', false: 'btn-default'}[popup.mode.always]" >一直</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" ng-click="popup.onClose()" class="btn" ng-class="{true: 'btn-success', false: 'btn-default'}[popup.mode.close]">关闭</button>
                    </div>
                </div>
            </div>
<!--
			<div ng-if='popup.isErrHave'>
			 	<span>疑似无法访问域名:</span>
				<ul>
					<li ng-repeat="eu in popup.errUrlArr">{{eu}}</li>
				</ul>
				<p><a href="#" ng-click="popup.toAddAll()">添加到规则列表</a> </p>
			</div> -->
		</div>
		
		<div class="user-info">
			<p class="pull-left" ng-mouseenter="popup.timeTip = true" ng-mouseleave="popup.timeTip = false">
				<i class="glyphicon glyphicon-user"></i>
				<span ng-bind="popup.username" ng-if="popup.days>0" ng-hide="popup.timeTip"></span>
				<span style='color:green' ng-if="popup.days>0" ng-show="popup.timeTip">账号<em ng-bind="popup.days"></em>天后到期</span>
				<a href="javascript:;"  ng-click="popup.toppay()" ng-if="popup.days<1" style="color:#d9534f">账号已到期，点击充值</a>
			</p>

			<a href="javascript:;" ng-click="popup.toSet()" class="pull-right" title="设置"><i class="glyphicon glyphicon-cog"></i></a>
			
			
		</div>